<template>
  <div
    v-bind:class="[className]"
    v-html="require(`./icons/${name}.svg?raw`)"
  />
</template>

<script lang="ts">
  import Vue from 'vue'

  export default Vue.extend({
    props: {
      name: { type: String, default: "image" },
      className: { type: String, default: "Icon-component" },
    },
  })
</script>
