<template>
  <section :class="`Tab-component active-${tabs.indexOf(activeTab) + 1}`">
    <div
      :class="`tab ${activeTab === tab ? `active` : ''}`"
      v-for="(tab, index) in tabs"
      @click="() => tabClick(tab)"
      :key="index"
    >
      {{tab}}
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    tabs: { type: Array },
    activeTab: { type: String },
  },
  methods: {
    tabClick(e: string) {
      this.$emit('tab-click', e)
    }
  }
})
</script>

<style lang="scss">
@import "assets/scss/variables";

.Tab-component {
  display: flex;
  overflow-x: hidden;
  height: 40px;
  margin-left: 20px;
  transition: margin-left 300ms;
  background: transparent;

  &.active-2 {
    margin-left: -80px;
  }

  &.active-3 {
    margin-left: -140px;
  }

  .tab {
    min-width: 160px;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBD5E0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    color: #319795;

    &:first-child {
      border-radius: 12px 0px 0px 12px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }

    &.active {
      background: #81E6D9;
      border-color: transparent;
      color: white;
    }
  }
}
</style>
