@import 'variables';

@mixin custom-scroll($color: $mainGradient, $horizontal: false) {
  // For Google Chrome
  overflow: hidden;
  overflow-y: auto;

  @if $horizontal {
    overflow-y: hidden;
    overflow-x: auto;
  }

  &::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
  }

  &::-webkit-scrollbar-thumb {
    background: #{$color}56;
    &:hover {
      background: $color;
    }
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: transparent;
    scrollbar-track-color: $color;
  }
}
