$main: #E6FFFA;
$mainGradient: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
$mainHoverGradient: transparent linear-gradient(95deg, #2C7A7B 0%, #2B6CB0 100%) 0% 0% no-repeat padding-box;
$green: #319795;
$background: #e9fafc;
$title: #2D3748;

