<template>
  <main class="Home-page">
    <page-header/>
    <h1 class="home-page-title">
      Deine Job website
    </h1>
    <icon name="handShake" class-name="handShake"/>
    <tab @tab-click="e => this.activeTab = e" :tabs="Object.keys(tabContent)" :active-tab="activeTab"/>
    <tab-content :content="tabContent[activeTab]"/>
    <bottom-signup-button/>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import PageHeader from "~/app/module/PageHeader.vue";
import Icon from "~/app/components/Icon.vue";
import BottomSignupButton from "~/app/module/BottomSignupButton.vue";
import Tab from "~/app/components/Tab.vue";
import TabContent from "~/app/module/home/TabContent.vue";

export default Vue.extend({
  data: () => ({
    activeTab: "Arbeitnehmer",
    tabContent: {
      "Arbeitnehmer": {
        title: 'Drei einfache Schritte zu deinem neuen Job',
        sections: [{
          icon: "womanHoldingBanner",
          description: 'Erstellen dein Lebenslauf'
        }, {
          icon: "manNextToBanner",
          description: 'Erstellen dein Lebenslauf'
        }, {
          icon: "womanNextToBlackBanner",
          description: 'Mit nur einem Klick bewerben'
        }]
      },
      "Arbeitgeber": {
        title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
        sections: [{
          icon: "womanHoldingBanner",
          description: 'Erstellen dein Unternehmensprofil'
        }, {
          icon: "windowWithMan",
          description: 'Erstellen ein Jobinserat'
        }, {
          icon: "userCards",
          description: 'Wähle deinen neuen Mitarbeiter aus'
        }]
      },
      "Temporärbüro": {
        title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
        sections: [{
          icon: "womanHoldingBanner",
          description: 'Erstellen dein Unternehmensprofil'
        }, {
          icon: "womanNextToBanner",
          description: 'Erhalte Vermittlungs- angebot von Arbeitgeber'
        }, {
          icon: "menHandshake",
          description: 'Vermittlung nach Provision oder Stundenlohn'
        }]
      }
    }
  }),
  components: {TabContent, Tab, BottomSignupButton, Icon, PageHeader}
})
</script>

<style lang="scss">
@import "assets/scss/variables";
@import "assets/scss/mixins";

.Home-page {
  width: 360px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: $background;
  padding: 120px 0 90px;
  overflow-x: hidden;
  @include custom-scroll();

  @media only screen and (max-width: 600px) {
    width: 100vw;
  }

  .home-page-title {
    text-align: center;
    font: normal normal medium 42px/50px Lato;
    letter-spacing: 1.26px;
    color: $title;
    opacity: 1;
    font-size: 42px;
    max-width: 320px;
    line-height: 50px;
    margin: 0 auto;
  }

  .handShake {
    height: 360px;
    margin-left: -20px;
  }
}
</style>
