<template>
  <footer class="BottomSignupButton-module">
    <button>Kostenlos Registrieren</button>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue'
import Button from "~/app/components/Button.vue";

export default Vue.extend({
  components: {Button}
})
</script>

<style lang="scss">
@import "assets/scss/variables";

.BottomSignupButton-module {
  position: fixed;
  bottom: 0;
  width: inherit;
  padding: 24px 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  z-index: 90;

  > button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    color: #E6FFFA;
    border-radius: 12px;
    opacity: 1;
    background: $mainGradient;

    &:hover {
      background: $mainHoverGradient
    }
  }
}
</style>
