<template>
  <section class="PageHeader-module">
    <div class="gradient-line"/>
    <header>
      <a href="#">Login</a>
    </header>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style lang="scss">
  @import "assets/scss/variables";

  .PageHeader-module {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 90;

    > header {
      width: 100%;
      height: 62px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 0 0 12px 12px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 17px;

      a {
        color: $green;
        font: normal normal 600 14px/17px;
        letter-spacing: 0.84px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .gradient-line {
      background: $mainGradient;
      height: 5px;
      width: 100%;
    }
  }
</style>
