<template>
  <section class="TabContent-module">
    <h2 class="tab-title">
      {{ content.title }}
    </h2>
    <div
      :class="`tab tab-${index + 1}`"
      v-for="(section, index) in content.sections"
      :key="index"
    >
      <icon :name="section.icon" :class-name="section.icon"/>
      <div class="description">
        <h2 class="section-number">
          {{ index + 1 }}.
        </h2>
        <p>{{ section.description }}</p>
      </div>
      <div class="circle"/>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import Icon from "~/app/components/Icon.vue";

export default Vue.extend({
  props: {
    content: {
      type: Object,
      required: true,
    }
  },
  components: {Icon}
})
</script>

<style lang="scss">
@import "assets/scss/variables";
@import "assets/scss/mixins";

.TabContent-module {
  background: white;
  padding-top: 30px;

  > .tab-title {
    text-align: center;
    font: normal normal medium 21px/25px Lato;
    letter-spacing: 0px;
    color: #4A5568;
    font-size: 21px;
    max-width: 280px;
    margin: 0 auto 20px;
  }

  > .tab {
    height: 350px;
    position: relative;
    z-index: 1;

    .circle {
      display: inline-flex;
      width: 304px;
      height: 303px;
      background: #F7FAFC 0% 0% no-repeat padding-box;
      border-radius: 100%;
      margin-left: -50px;
      position: absolute;
      z-index: 0;
      top: 0;
    }

    > div, > .description {
      position: relative;
      z-index: 1;
    }

    &.tab-1 {
      height: 270px;

      > .description {
        margin-top: -40px;
      }
      .circle {
        top: initial;
        width: 208px;
        height: 208px;
        bottom: 0;
      }
    }

    &.tab-2 {
      display: flex;
      flex-direction: column-reverse;
      background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
      justify-content: flex-end;

      .circle {
        display: none;
      }

      .description {
        margin-bottom: 20px;
      }
    }

    &.tab-3 {
      display: flex;
      flex-direction: column-reverse;

      .description {
        margin-left: 50px;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .description {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;

      .section-number {
        text-align: left;
        font-size: 130px;
        line-height: 130px;
        letter-spacing: 0px;
        color: #718096;
        min-width: 106px;
      }
      > p {
        text-align: left;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.47px;
        color: #718096;
        margin-left: 20px;
        margin-bottom: 12px;
        justify-self: left;
      }
    }


  }
}
</style>
